<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.ClockEventMapper">
	
	<insert id="insertClockEvent" parameterType="com.sp.app.admin.model.ClockinEvent">
	INSERT INTO CLOCKIN_EVENT (clockin_num , event_title, start_date, expire_date, daybyday, weekly, monthly) 
                        VALUES (seq_clockin_event.NEXTVAL, #{event_title}, #{start_date}, #{expire_date}, #{daybyday}, #{weekly}, #{monthly})
	</insert>

	<select id="current_event" parameterType="java.util.Date" resultType="com.sp.app.admin.model.ClockinEvent">
		SELECT clockin_num, event_title, start_date, expire_date, daybyday, weekly, monthly FROM CLOCKIN_EVENT 
		WHERE start_date &lt;= TO_DATE(#{today},'YYYY-MM-DD') AND expire_date &gt;= TO_DATE(#{today},'YYYY-MM-DD')
	</select>
	
	<select id="getValidClockin" resultType="com.sp.app.admin.model.ClockinEvent">
	SELECT clockin_num, event_title, start_date, expire_date, daybyday, weekly, monthly FROM CLOCKIN_EVENT 
		WHERE start_date &lt;= TO_DATE(#{today},'YYYY-MM-DD') AND expire_date &gt;= TO_DATE(#{today},'YYYY-MM-DD') AND selected = 0 
	</select>

	<select id="listOfClockin" resultType="com.sp.app.admin.model.ClockinEvent">
	SELECT clockin_num, event_title, start_date, expire_date, daybyday, weekly, monthly FROM CLOCKIN_EVENT 
		WHERE start_date &lt;= TO_DATE(#{today},'YYYY-MM-DD') AND expire_date &gt;= TO_DATE(#{today},'YYYY-MM-DD') AND selected = 0 
	</select>
	
</mapper>