<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.CommunityMapper">
	<select id="replyDataCount" resultType="Integer">
		SELECT NVL(COUNT(*), 0) dataCount FROM community
	</select>

	<!-- 커뮤니티 리스트 -->
	<select id="listCommunity" parameterType="map"
		resultType="com.sp.app.model.Community">
		SELECT community_num, c.memberidx, brandName, content, created_po,update_po
		FROM community c
		JOIN seller_brand s
		on c.memberIdx = s.memberIdx
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	
	<!-- 커뮤니티게시글 등록 -->
	<insert id="insertCommunity" parameterType="map">
		INSERT INTO community (
		    community_num,
		    memberidx,
		    content,
		    created_po,
		    update_po
		) VALUES (
		    SEQ_COMMUNITY.NEXTVAL,
		    #{memberIdx},
		    #{content},
		    sysdate,
		    sysdate
		)
	</insert>
	
	<insert id="insertCommunityImage" parameterType="com.sp.app.model.Community">
		INSERT INTO communityimage (
		    image_num,
		    community_num,
		    savefilename,
		    original_filename,
		    uploaddate
		) VALUES (
		    SEQ_COMMUNITYIMAGE.NEXTVAL,
		    #{community_num},
		    #{savefilename},
		    #{savefilename},
		    sysdate
		);
	</insert>

	<select id="findById" parameterType="Long" resultType="com.sp.app.model.Community">
		SELECT
		    community_num,
		    c.memberidx,
		    content,
		    created_po,
		    update_po,
            brandname
		FROM community c
        JOIN seller_brand s
        ON c.memberidx = s.memberidx
	    where community_num = #{community_num}
	</select>
	
	
	

	<select id="listMainProductFile" parameterType="Long"
		resultType="com.sp.app.model.MainProduct">
		SELECT p.productCode, image_code, imageFileName
		FROM
		productImage i
		JOIN product p
		ON i.productCode = p.productCode
		WHERE
		p.productCode = #{productCode}
	</select>

	<select id="listMainProductReview" parameterType="Long"
		resultType="com.sp.app.model.MainProduct">
		SELECT review_num, p.productCode, nickName, content
		FROM
		product p
		JOIN productReview r
		ON p.productCode = r.productCode
		JOIN MEMBER m
		ON m.memberIdx = r.memberIdx
		WHERE p.productCode =
		#{productCode}
	</select>
	

	

</mapper>
	