<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.CouponMapper">

<insert id="insertCoupon" parameterType="com.sp.app.model.Coupon">
	INSERT INTO coupon (coupon_code, couponName, rate,  startdate, enddate, valid) 
	VALUES (#{coupon_code}, #{couponName}, #{rate}, #{start}, #{end}, #{valid}) 
</insert>

<select id="getListOfCoupon" resultType="com.sp.app.model.Coupon">
	SELECT coupon_code, couponName, TO_CHAR(startdate, 'YYYY-MM-DD') "start" ,TO_CHAR(enddate, 'YYYY-MM-DD') "end" ,valid FROM coupon 
</select>

</mapper>