<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.EventMapper">

	<insert id="insertCoupon"
		parameterType="com.sp.app.admin.model.Coupon">
		INSERT INTO coupon (coupon_code, couponName, rate,
		startdate, enddate,
		valid, selected)
		VALUES (#{coupon_code},
		#{couponName}, #{rate}, #{start}, #{end}, #{valid},
		0 )
	</insert>

	<select id="getValidCoupon"
		resultType="com.sp.app.admin.model.Coupon">
		SELECT coupon_code, couponName, TO_CHAR(startdate,
		'YYYY-MM-DD') "start"
		,TO_CHAR(enddate, 'YYYY-MM-DD') "end" ,valid
		FROM
		coupon
		WHERE
		selected = 0
	</select>

	<select id="getAllCoupon"
		resultType="com.sp.app.admin.model.Coupon">
		SELECT coupon_code, couponName, TO_CHAR(startdate,
		'YYYY-MM-DD') "start"
		,TO_CHAR(enddate, 'YYYY-MM-DD') "end" ,valid FROM
		coupon
	</select>



	<insert id="insertClockin"
		parameterType="com.sp.app.admin.model.ClockinEvent">
		INSERT INTO CLOCKIN_EVENT (clockin_num , event_title,
		start_date,
		expire_date, daybyday, weekly, monthly, selected)
		VALUES
		(seq_clockin_event.NEXTVAL, #{event_title}, #{start_date},
		#{expire_date}, #{daybyday}, #{weekly}, #{monthly}, 0)
	</insert>

	<select id="getValidClockin"
		resultType="com.sp.app.admin.model.ClockinEvent">
		SELECT clockin_num, event_title, start_date, expire_date,
		daybyday, weekly,
		monthly FROM CLOCKIN_EVENT
		WHERE selected = 0
	</select>

	<select id="getAllClockin"
		resultType="com.sp.app.admin.model.ClockinEvent">
		SELECT clockin_num, event_title, start_date,
		expire_date,
		daybyday, weekly,monthly
		FROM CLOCKIN_EVENT
	</select>



	<insert id="insertEvent"
		parameterType="com.sp.app.admin.model.Event">
		INSERT INTO event_article (event_article_num, subject, textcontent,
		eventType, thumbnail,
		<if test="eventType == 'coupon'">
			coupon_code,
		</if>
		<if test="eventType == 'checkin'">
			clockin_num,
		</if>
		createdDate)
		VALUES (seq_event_article.NEXTVAL, #{subject},
		#{textcontent}, #{eventType}, #{thumbnail},
		<if test="eventType == 'coupon'">
			#{coupon_code},
		</if>
		<if test="eventType == 'checkin'">
			#{clockin_num},
		</if>
		SYSDATE)
	</insert>

	<select id="dataCount" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM
		event_article
	</select>

	<select id="getEventList" parameterType="java.util.Map" resultType="com.sp.app.admin.model.Event">
		SELECT event_article_num, subject, textcontent,
		eventType, thumbnail, ev.clockin_num, ev.coupon_code, createdDate ,
		cp.expire_date as coupon_expiredate, cv.expire_date as
		clockin_expiredate
		FROM event_article ev
		LEFT OUTER JOIN coupon cp ON cp.coupon_code = ev.coupon_code
		LEFT OUTER JOIN CLOCKIN_EVENT cv ON cv.clockin_num = ev.clockin_num;
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY 
	</select>

</mapper>