<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MainProductMapper">
	<!-- 일반 상품 목록 -->
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) dataCount FROM product
		WHERE categoryCode = #{categoryCode}
	</select>
	
	<select id="listMainProduct" parameterType="map" resultType="com.sp.app.model.MainProduct">
	SELECT p.productCode, p.categoryCode, c.name, p.item, price, 
		       discount, m.nickname, THUMBNAIL, s.brandname
		FROM product p
		JOIN productCategory c ON p.categoryCode = c.categoryCode
        JOIN SELLER_BRAND s ON s.brand_code = p.brand_code
        JOIN MEMBER m ON m.memberIdx = s.memberIdx
		WHERE p.SOLDOUT = 30 AND p.categoryCode = #{categoryCode}
		ORDER BY p.upload DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<select id="findByCategoryId" parameterType="int" resultType="com.sp.app.model.MainProduct">
		SELECT categoryCode, name, parentCategoryCode
		FROM productCategory
		WHERE categoryCode = #{categoryCode}
	</select>


</mapper>
	