<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MyPageMapper">

    <select id="getOrdersHistory" parameterType="long"
            resultType="com.sp.app.model.MyPage">
        SELECT p.order_code     AS orderCode,
               i.order_state    AS orderState,
               i.QUANTITY       AS quantity,
               pk.STATE         AS packageState,
               pr.ITEM          AS productName,
               pr.PRODUCTCODE as productCode,
               pr.PRICE as price,
               s.BRANDNAME      AS brandName,
               pr.THUMBNAIL as thumbnail,
               i.SHIPPING        AS shipping,
               pr.DISCOUNT       AS discount,
               i.PRICEFOREACH    AS priceforeach,
               TO_CHAR(p.order_date, 'YYYYMMDD')    AS orderDate,
               i.quantity       AS quantity,
               i.price          AS netPay
        FROM   product_order p
                   JOIN order_item i ON p.order_code = i.order_code
                   JOIN product pr   ON i.productcode = pr.productcode
                   JOIN SELLER_BRAND s ON pr.BRAND_CODE = s.BRAND_CODE
                   JOIN PACKAGE pk   ON pk.ITEM_CODE = i.ITEM_CODE
        WHERE  p.memberidx = #{memberIdx}
        ORDER  BY p.order_date DESC
    </select>


    <select id="dataCount" parameterType="long" resultType="Integer">
        SELECT
            NVL(count(*), 0) as count
        FROM   product_order p
            JOIN order_item i ON p.order_code = i.order_code
            JOIN product pr   ON i.productcode = pr.productcode
            JOIN SELLER_BRAND s ON pr.BRAND_CODE = s.BRAND_CODE
            JOIN PACKAGE pk   ON pk.ITEM_CODE = i.ITEM_CODE
        WHERE  p.memberidx = #{memberIdx}
        ORDER  BY p.order_date DESC
    </select>



    <select id="getOrdersHistory1" parameterType="map" resultType="com.sp.app.model.MyPage">
        SELECT
            p.order_code      AS orderCode,
            i.order_state     AS orderState,
            i.QUANTITY        AS quantity,
            i.ITEM_CODE       AS itemCode,
            pk.STATE          AS packageState,
            pr.ITEM           AS productName,
            pr.PRODUCTCODE    AS productCode,
            pr.PRICE          AS price,
            s.BRANDNAME       AS brandName,
            i.SHIPPING        AS shipping,
            pr.DISCOUNT       AS discount,
            pr.THUMBNAIL      AS thumbnail,
            i.PRICEFOREACH    AS priceforeach,
            TO_CHAR(p.order_date, 'YYYYMMDD') AS orderDate,
            i.price           AS netPay,
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM PRODUCTREVIEW pr2
                    WHERE pr2.PRODUCTCODE = pr.PRODUCTCODE
                      AND pr2.MEMBERIDX = #{memberIdx}
                ) THEN 1 ELSE 0
                END AS reviewCount,
            CASE
                WHEN EXISTS (
                    SELECT 1 FROM CHAGE_REQUEST cr
                    WHERE cr.MEMBERIDX = p.memberidx
                      AND cr.ITEM_CODE = i.item_code
                ) THEN 1 ELSE 0
                END AS requested
        FROM product_order p
                 JOIN order_item i ON p.order_code = i.order_code
                 JOIN product pr   ON i.productcode = pr.productcode
                 JOIN SELLER_BRAND s ON pr.BRAND_CODE = s.BRAND_CODE
                 JOIN PACKAGE pk   ON pk.ITEM_CODE = i.ITEM_CODE
        WHERE p.memberidx = #{memberIdx}
        ORDER BY p.order_date DESC
        OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
    </select>

    <select id="getOrderHistoryDetail" resultType="com.sp.app.model.MyPage">
        SELECT
            p.order_code      AS orderCode,
            i.order_state     AS orderState,
            i.QUANTITY        AS quantity,
            i.ITEM_CODE       AS itemCode,
            pk.STATE          AS packageState,
            pr.ITEM           AS productName,
            pr.PRODUCTCODE    AS productCode,
            pr.PRICE          AS price,
            pr.DISCOUNT       AS discount,
            s.BRANDNAME       AS brandName,
            pr.THUMBNAIL      AS thumbnail,
            TO_CHAR(p.order_date, 'YYYYMMDD') AS orderDate,
            i.price           AS netPay,
            i.PRICEFOREACH    AS priceforeach,
            pk.RECEIVERNAME as receiverName, pk.PHONE,
            pk.ADDRTITLE as addrTitle,
            pk.ADDRDETAIL as addrDetail,
            i.SHIPPING        AS shipping,
            ph.BYMETHOD,
            TO_NUMBER(REGEXP_REPLACE(ph.CARDNUMBER, '[^0-9]', '')) AS cardNumber,
            ph.PROVIDER as provider,
            CONFIRMCODE as confirmCode,
            CONFIRM_DATE as confirmDate
        FROM product_order p
                 LEFT JOIN order_item i ON p.order_code = i.order_code
                 LEFT JOIN product pr   ON i.productcode = pr.productcode
                 LEFT JOIN SELLER_BRAND s ON pr.BRAND_CODE = s.BRAND_CODE
                 LEFT JOIN PACKAGE pk   ON pk.ITEM_CODE = i.ITEM_CODE
                 LEFT JOIN PAYBYMETHOD ph ON p.ORDER_CODE = ph.ORDER_CODE
        WHERE p.memberidx = #{memberIdx} and i.ORDER_CODE = #{orderCode}
        ORDER BY p.order_date DESC
    </select>

    <select id="getPaymentHistory" resultType="com.sp.app.model.Payment">
        select p.ORDER_CODE as orderCode, p.BYMETHOD as byMethod, CONFIRMCODE as confirmCode, PROVIDER as provider, CONFIRM_DATE as confirmDate,
               CARDNUMBER cardNumber
        from PAYBYMETHOD p
                 LEFT JOIN ORDER_ITEM o ON o.ORDER_CODE = p.ORDER_CODE
        where o.ORDER_CODE = #{orderCode}
    </select>

</mapper>