<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.OptionMapper">

    <select id="getOptionList" resultType="com.sp.app.model.Option">
        select OPTION_NAME, OPTION_PRICE, p.PRODUCTCODE
        from PRODUCTOPTION p
                 LEFT JOIN PRODUCTOPTIONDETAIL pl ON pl.OPTION_CODE = p.OPTION_CODE
                 LEFT JOIN PRODUCT p1 ON p.PRODUCTCODE = p1.PRODUCTCODE
        where p.PRODUCTCODE = #{productCode}
    </select>
</mapper>