<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.OrderMapper">

    <select id="getLatestOrderCode" parameterType="Long">
        select ORDER_CODE
        from PRODUCT_ORDER
        order by ORDER_DATE desc
        fetch first 1 rows only
    </select>

    <insert id="insertOrder" parameterType="com.sp.app.model.Order">
        insert into PRODUCT_ORDER (order_code, memberidx, order_date, addr_num, total_price, coupon_code, couponvalue, spentpoint, netpay)
        values (SEQ_PRODUCT_ORDER.nextval, #{memberIdx}, SYSDATE, #{addrNum}, #{totalPrice}, #{couponCode}, #{couponValue}, #{spentPoint}, #{netPay})
    </insert>

    <!--  배송지 등록 -->
    <insert id="insertShippingAddress" parameterMap="com.sp.app.model.ShippingInfo">
        insert into MEMBER_ADDRESS (add_num, memberidx, name, phone, addname, addtitle, adddetail, firstadd)
        values (SEQ_MEMBER_ADDRESS.nextval, #{memberIdx}, #{receiverName}, #{phone}, #{addName}, #{addTitle}, #{addDetail}, #{firstAdd})
    </insert>


</mapper>