<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.PointMapper">

    <!-- 유저 사용 금액-->
    <select id="getLatestUserPoint" parameterType="long" resultType="com.sp.app.model.MemberPoint">
        select balance
        from POINT_SAVE
        where MEMBERIDX = #{memberIdx}
    </select>

</mapper>