<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.sp.app.artist.mapper.ProductManageMapper">
	<!-- 일반 상품 목록 -->

	<select id="findByCategoryId" parameterType="int" resultType="com.sp.app.artist.model.ProductManage">
		SELECT categoryCode, name, parentCategoryCode
		FROM productCategory
		WHERE categoryCode = #{categoryCode}
	</select>
	
	<!-- 상품 상위 카테고리 목록 -->
	<select id="listMainCategory"  resultType="com.sp.app.artist.model.ProductManage">
	    SELECT categoryCode, name, parentCategoryCode
		FROM productCategory
		WHERE parentCategoryCode is null
	</select>
	
	<!-- 상품 하위 카테고리 목록 -->
	<select id="listSubCategory" parameterType="Long" resultType="com.sp.app.artist.model.ProductManage">
		SELECT categoryCode, name, parentCategoryCode
		FROM productCategory
		WHERE parentCategoryCode = #{parentCategoryCode}
	</select>

	<!-- 작품 등록 -->
	<select id="seq_product" resultType="Long">
		SELECT SEQ_PRODUCT.NEXTVAL FROM dual
	</select>
	
	
	<insert id="insertProduct" parameterType="com.sp.app.artist.model.ProductManage">
		INSERT INTO product (
		    productcode,     
		    brand_code,      
		    item,            
		    price,           
		    discount,        
		    addoptions,      
		    describe,        
		    upload,          
		    modified,        
		    categorycode,    
		    thumbnail,       
		    soldout    
		    )
		VALUES (
		    #{productCode},
		    (SELECT S.BRAND_CODE FROM SELLER_BRAND S WHERE S.MEMBERIDX = #{memberIdx}),
		    #{item},       
		    #{price},      
		    #{discount},   
		    0,             
		    #{describe},   
		    SYSDATE,       
		    SYSDATE,       
		    #{categoryCode},
		    #{thumbnail},  
		    0
		)
	</insert>
	
		<!-- 추가 이미지 등록 -->
	<insert id="insertProductFile" parameterType="com.sp.app.artist.model.ProductManage">
		INSERT INTO PRODUCTIMAGE(IMAGE_CODE, PRODUCTCODE, IMAGEFILENAME)
		VALUES(SEQ_PRODUCTIMAGE.NEXTVAL, #{productCode}, #{imageFileName})
	</insert>
	
	  	<!-- 옵션1, 옵션2 -->
	<select id="listProductOption" parameterType="Long" resultType="com.sp.app.artist.model.ProductManage">
		SELECT option_code, productCode, option_name, option_price, parent_option, soldOut
		FROM productOption
		WHERE productCode = #{productCode}
		ORDER BY parent_option NULLS FIRST, parent_option
	</select>

	<!-- 옵션 상세 정보 -->	
	<select id="listOptionDetail" parameterType="Long" resultType="com.sp.app.artist.model.ProductManage">
		SELECT optionDetail_code, option_code, option_value
		FROM productOptionDetail
		WHERE option_code = #{option_code}
		ORDER BY optionDetail_code
	</select>
	
</mapper>
	