<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.artist.mapper.TotalManageMapper">
    <select id="todayProduct" parameterType="long" resultType="map">
        SELECT COUNT(*) count, NVL(SUM(oi.price-CANCELAMOUNT),0)total
        from ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')
    </select>

    <select id="thisMonthProduct" parameterType="long" resultType="map">
        SELECT COUNT(*) count, NVL(SUM(oi.price-CANCELAMOUNT),0)total
        from ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
            LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
            LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
          AND (ORDER_STATE &lt;=6 OR ORDER_STATE > 16) AND TO_CHAR(po.ORDER_DATE,'YYYYMM') = TO_CHAR(SYSDATE,'YYYYMM')
    </select>

    <select id="previousMonthProduct" parameterType="long" resultType="map">
        SELECT COUNT(*) count, NVL(SUM(oi.price-CANCELAMOUNT),0)total
        from ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
            LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
            LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
          AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYYMM') = TO_CHAR(ADD_MONTHS(SYSDATE,-1),'YYYYMM')
    </select>

    <select id="dayTotalMoney" parameterType="map" resultType="map">
        SELECT TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-6,'YYYY-MM-DD') orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-6,'YYYY-MM-DD')

        UNION ALL

        SELECT TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-5,'YYYY-MM-DD') orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-5,'YYYY-MM-DD')

        UNION ALL

        SELECT TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-4,'YYYY-MM-DD') orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-4,'YYYY-MM-DD')

        UNION ALL

        SELECT TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-3,'YYYY-MM-DD') orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-3,'YYYY-MM-DD')

        UNION ALL

        SELECT TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-2,'YYYY-MM-DD') orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-2,'YYYY-MM-DD')

        UNION ALL

        SELECT TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-1,'YYYY-MM-DD') orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{date},'YYYY-MM-DD')-1,'YYYY-MM-DD')

        UNION ALL


        SELECT #{date} orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND TO_CHAR(po.ORDER_DATE,'YYYY-MM-DD') = #{date}



    </select>
    <select id="dayTotalMoney2" parameterType="map" resultType="map">
        SELECT  TO_CHAR(po.order_Date,'YYYY-MM-DD')orderDate,NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16)  AND (
        TO_CHAR(po.order_Date, 'YYYY-MM-DD') &gt;= TO_CHAR(TO_DATE(#{date}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') AND
        TO_CHAR(po.order_Date, 'YYYY-MM-DD') &lt;= TO_CHAR(TO_DATE(#{date}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
        )
        GROUP BY TO_CHAR(po.order_Date,'YYYY-MM-DD')
        ORDER BY orderDate

    </select>

    <select id="monthTotalMoney" parameterType="map" resultType="map">

        SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-5),'YYYYMM')orderDate , NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) and TO_CHAR(po.ORDER_DATE,'YYYYMM')=TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-5),'YYYYMM')

        UNION ALL

        SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-4),'YYYYMM')orderDate , NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) and TO_CHAR(po.ORDER_DATE,'YYYYMM')=TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-4),'YYYYMM')

        UNION ALL

        SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-3),'YYYYMM')orderDate , NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) and TO_CHAR(po.ORDER_DATE,'YYYYMM')=TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-3),'YYYYMM')

        UNION ALL

        SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-2),'YYYYMM')orderDate , NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) and TO_CHAR(po.ORDER_DATE,'YYYYMM')=TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-2),'YYYYMM')

        UNION ALL

        SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-1),'YYYYMM')as orderDate , NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) and TO_CHAR(po.ORDER_DATE,'YYYYMM')=TO_CHAR(ADD_MONTHS(TO_DATE(#{month},'YYYYMM'),-1),'YYYYMM')

        UNION ALL

        SELECT #{month}orderDate , NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) and TO_CHAR(po.ORDER_DATE,'YYYYMM')=#{month}
    </select>

    <select id="monthTotalMoney2" parameterType="map" resultType="map">
        SELECT TO_CHAR(po.ORDER_DATE,'YYYYMM')orderDate, NVL(SUM(oi.price-CANCELAMOUNT),0)totalMoney
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
        LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
        LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx})
        AND (ORDER_STATE &lt;=6 OR ORDER_STATE>16) AND ( TO_CHAR(po.order_Date, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM')
        AND TO_CHAR(po.order_Date, 'YYYYMM') &lt;= #{month} )
        GROUP BY TO_CHAR(po.ORDER_DATE,'YYYYMM')
        ORDER BY orderDate
    </select>
    <select id="dayOfWeekTotalCount" parameterType="map" resultType="map">

        SELECT COUNT(*) total,
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),1,1)),0)"SUN",
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),2,1)),0)"MON",
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),3,1)),0)"TUE",
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),4,1)),0)"WED",
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),5,1)),0)"THU",
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),6,1)),0)"FRI",
               NVL(COUNT(DECODE(TO_CHAR(po.ORDER_Date,'D'),7,1)),0)"SAT"
        FROM ORDER_ITEM oi LEFT OUTER JOIN PRODUCT_ORDER po ON po.ORDER_CODE = oi.ORDER_CODE
                           LEFT OUTER JOIN PRODUCT pd ON oi.PRODUCTCODE = pd.PRODUCTCODE
                           LEFT OUTER JOIN SELLER_BRAND sb ON pd.BRAND_CODE = sb.BRAND_CODE
        WHERE pd.BRAND_CODE = (SELECT BRAND_CODE FROM SELLER_BRAND WHERE MEMBERIDX= #{memberIdx}) AND
            TO_CHAR(po.ORDER_DATE,'YYYYMM')=#{month}
    </select>
</mapper>